<router-outlet>
		<app-header></app-header>
	  </router-outlet>
		
		

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">

								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										Laptops
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Cameras
										<small>(1450)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-4">
									<label for="category-4">
										<span></span>
										Accessories
										<small>(578)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-5">
									<label for="category-5">
										<span></span>
										Laptops
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select">
										<option value="0">Popular</option>
										<option value="1">Price low to high</option>
										<option value="1">Price high to low</option>
										<option value="1">New Arrivals</option>
										<option value="1">Rating</option>
									</select>
								</label>

								<label>
									Show:
									<select class="input-select">
										<option value="0">20</option>
										<option value="1">50</option>
									</select>
								</label>
							</div>
							
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product01.png" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button (click)="navigate_to_view()" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product02.png" alt="">
										<div class="product-label">
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productviewpara/{{parval}}" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="assets/img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a routerLink="/productview">product name goes here</a></h3>
										<h4 class="product-price">Rs.980.00 <del class="product-old-price">Rs.990.00</del></h4>
										<div class="product-rating">
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											
											<button routerLink="/cart" class="quick-view"><i class="fa fa-cart-plus"></i><span class="tooltipp">add to cart</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button routerLink="/productview" class="add-to-cart-btn"><i class="fa fa-eye"></i> View Item</button>
									</div>
								</div>
							</div>
							<!-- /product -->
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		

		<router-outlet>
				<app-footer></app-footer>
			  </router-outlet>